<app-nav-bar></app-nav-bar>
<div class="form-container d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="title style=width: 100">
      <h2 class=text-center>Business Cards</h2>
    </div>
    <div>
      <ul class="d-flex justify-content-center align-items-center">
        <li class="list-group vertical-align=title">
          <app-card-item *ngFor="let card of cards | async"
            [card]="card">
          </app-card-item>
        </li>
      </ul>
    </div>
  </div>
</div>
