.form-container {
  height:100vh;
}
.title > a {
  width:100px;
  height:100px;
  text-indent:-999em !important;
  display:block;
}

.container {
  min-width: 40%;
  margin-bottom: 10%;
  margin-top: 30%;
  border: 2px solid gray;
  padding: 1em 2em;
}

h2 {
  margin-bottom: lem;
  color: gray;
}
