<app-nav-bar></app-nav-bar>
<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper" text-center>
    <div>
        <h2 class="text-center">Review Card</h2>
    </div>
    <form [formGroup]="addForm">
        <div class="form-group" hidden>
            <input type="id"  class="form-control" id="id-input">
          </div>
      <div class="form-group">
        <input type="name"  class="form-control" id="name-input" placeholder="Enter Name" formControlName="name" #name>
      </div>
      <div class="form-group">
        <input type="phone"  class="form-control" id="phone-input" placeholder="Enter Phone Number" formControlName="phone" #phone>
      </div>
      <div class="form-group">
        <input type="email"  class="form-control" id="email-input" placeholder="Enter Email" formControlName="email" #email>
      </div>
      <div class="form-group" hidden>
          <input type="ownerId"  class="form-control hidden" id="ownerId-input">
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" margin-right="10px" (click)="add(name.value, phone.value, email.value)" [disabled]="!createForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
